version: "v1.4.7"
image: ghcr.io/hargata/lubelogger
slug: ha_lubelogger
name: LubeLogger
description: LubeLogger HA Addon
url: https://github.com/Latschenharry/home-assistant-addons
panel_icon: mdi:car-cog
panel_title: LubeLogger
homeassistant: 2025.5.1
homeassistant_api: true
init: false
arch:
  - aarch64
  - amd64
  - armv7
ingress: true
ingress_port: 8080
ingress_stream: true
map:
  - /App:rw
options:
  app_log_level: info
schema:
  app_log_level: list(silly|debug|info|notice|warn|error|fatal)
