version: "v1.4.7"
image: ghcr.io/hargata/lubelogger
slug: ha_lubelogger
name: LubeLogger
description: LubeLogger HA Addon
url: https://github.com/Latschenharry/home-assistant-addons
panel_icon: mdi:car-cog
panel_title: LubeLogger
homeassistant: 2025.5.1
homeassistant_api: true
host_network: true
init: false
arch:
  - aarch64
  - amd64
  - armv7
ingress: true
ingress_port: 0
ports:
  80/tcp: null
ports_description:
  80/tcp: Web interface (Not required for Ingress)
map:
  - addon_config:rw
options:
  app_log_level: info
  disable_log_colors: false
schema:
  app_log_level: list(silly|debug|info|notice|warn|error|fatal)
  disable_log_colors: bool
